.main {
  margin: 30px;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: calc(100vh - 60px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;

  &__content {
    width: 100%;

    margin: 0 30px;

    overflow: scroll;
  }
}
