.profile {
  margin: auto 20px 0 20px;
  padding: 30px 20px 40px 20px;
  border-top: 1px solid #E5E5E5;

  &__photo {
    width: 34px;
    height: 34px;
    margin-bottom: 10px;
  }

  &__user_name {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
  }

  &__user_email {
    font-size: 12px;
    color: rgba(#000000, .5);
  }
}
